{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Economic Decision Making
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
{{ dbg }}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <ul>
                    <li>{{ p1 }}</li>
                    <li>{{ p2 }}</li>
                    <li>{{ p3 }}</li>
                </ul>

            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
        <hr>


            <div class="row">
                <div class="col-md-5">
                    <div id="card-one" class="parent" onclick="$(this).text('Investor'); $(this).css('cursor',''); $(this).css('border','3px solid black'); $('#card-two').css('cursor',''); $('#card-two').text('Partner'); $('#card-two').css('opacity', '0.4'); $('#card-two').css('background-color','#C8D2F7'); $('#card-two').attr('onclick',''); $('.btn').removeAttr('disabled');">
                        Option one
                    </div>

                </div>
                <div class="col-md-5">
                    <div id="card-two" class="parent" onclick="$(this).text('Investor'); $(this).css('cursor',''); $(this).css('border','3px solid black'); $('#card-one').css('cursor',''); $('#card-one').text('Partner'); $('#card-one').css('opacity', '0.4'); $('#card-one').css('background-color','#C8D2F7'); $('#card-one').attr('onclick',''); $('.btn').removeAttr('disabled');">
                        Option two
                    </div>

                </div>
            </div>
    </div>
    </div>
</div>
<br>
{% next_button %}



<script>$('body div.well h4').parent().addClass('hide');</script>

{% endblock %}

{% block styles %}
<style type="text/css">
        #card-one {
            height: 170px;
            background-color: #9AAFF9;
            cursor: pointer;
        }
        #card-two {
            height: 170px;
            background-color: #9AAFF9;
            cursor: pointer;
        }
    body{
    font-size: medium;
    }
        .parent{
            display: flex;
  justify-content: center;
  align-items: center;
        }
    </style>
{% endblock %}

{% block scripts %}

    <!-- define a script -->

    <script type="text/javascript">
    $('.btn').attr('disabled','disabled');
    $('body div.well h4').parent().addClass('hide');
    $( document ).ready(function() {

$('body div.well h4').parent().addClass('hide');
});
    </script>

    <!-- or reference a static file -->

{% endblock %}