{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Economic Decision Making
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
<style>


    * {
    box-sizing: border-box;
}



#progress {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;
}
body{
    font-size: medium;
    }

#progress li {
    display: table-cell; font-size: 13px;
    vertical-align: middle;
    float: left;
    padding: 10px 0px 10px 40px;
    background: #333;
    color: #fff;
    position: relative;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 18%;
    height: 100px;
    margin: 0 1px;
}

#progress li:before {
    content: '';
    border-left: 50px solid #fff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 0;

}
#progress li:after {
    content: '';
    border-left: 50px solid #333;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

#progress li.active {
    background: #B1AEAE;
}

#progress li.active:after {
    border-left-color: #B1AEAE;
}
</style>

{{ dbg }}
<div class="container">
    <div class="row">
        <div class="col-md-12">

{% if assigned_group == 'B1' %}
<ul id="progress">
                <li style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li class="active" style="display: table-cell; font-size: 13px;">Decision is relayed to partner</li>
                <li style="display: table-cell; font-size: 13px;">Partner decides whether to deduct investor's share</li>
                <li style="display: table-cell; font-size: 13px;">If investment option is chosen a raffle is conducted and results are shown</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>

            {% elif assigned_group == 'B2' %}
            <ul id="progress">
                <li style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li class="active" style="display: table-cell; font-size: 13px;">Decision is relayed to partner</li>
                <li style="display: table-cell; font-size: 13px;">Partner decides whether to deduct investor's share</li>
                <li style="font-size: 15px;width: 300px;">A raffle is conducted and results are shown. The results of the raffle affect payoff only if investment option is chosen.</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>
            {% elif assigned_group == 'C1' %}
            <ul id="progress">
                <li style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li style="display: table-cell; font-size: 13px;">If investment option is chosen – a raffle is conducted and results are shown</li>
                <li class="active" style="display: table-cell; font-size: 13px;">Your decision to invest/keep and the results are relayed to partner. </li>
                <li>Partner decides whether to deduct investor's share</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>
            {% elif assigned_group == 'C2' %}
            <ul id="progress">
                <li style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li style="font-size: 15px; width: 300px;">A raffle is conducted and results are shown. The results of the raffle affect payoff only if investment option is chosen.</li>
                <li class="active" style="display: table-cell; font-size: 13px;">Your decision to invest/keep and the results are relayed to partner. </li>
                <li style="display: table-cell; font-size: 13px;">Partner decides whether to deduct investor's share</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>
{% endif %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          <hr>
            <div class="well">
                <ul>
                    <li>
                        {% if assigned_group == 'C2' %}
                        Your decision and the results are now relayed to your partner.
                        {% else %}
                        Your decision is now being relayed to your partner, please wait.
                        {% endif %}
                    </li>

                </ul>
            <div class="progress">
              <div id="progressBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">

              </div>
            </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-10 hide" id="factory">
        <hr>

        <h3 id="status">Waiting for partner's decision...</h3>
        <div class='stage' >

  <ul class="factory-ul">
    <li class="factory-li"></li>
    <li class="factory-li"></li>
    <li class="factory-li"></li>
    <li class="factory-li"></li>
    <li class="factory-li"></li>
  </ul>
  <div class='band'></div>
  <div class='factory'>
    <div class='magic'></div>
    <div class='screen'></div>
  </div>
</div>

    </div>
    </div>
</div>
<br>
{% next_button %}


<div class="container">
    <div class="row">
        <div class="col-md-12">



        </div>
    </div>
</div>

<script>$('body div.well h4').parent().addClass('hide');</script>



{% endblock %}

{% block styles %}
<style type="text/css">
        #card-one {
            height: 170px;
            background-color: #9AAFF9;
            cursor: pointer;
        }
        #card-two {
            height: 170px;
            background-color: #9AAFF9;
            cursor: pointer;
        }
        .parent{
            display: flex;
  justify-content: center;
  align-items: center;
        }




.stage {
  overflow: hidden;
    /* position: absolute; */
  top: 50%;
  left: 50%;
  /* margin: -175px 0 0 -250px; */
  width: 500px;
  height: 350px;
    padding-left:20%;
}

.factory {
  position: absolute;
  width: 100px;
  height: 200px;
  background: #e6c747;
  transform: translate(50px, 100px);
}
.factory::before {
  background: #c6a41b;
  border-radius: 1px;
  width: 110px;
  height: 10px;
  top: -10px;
  left: -5px;
}
.factory::after {
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background-color: #c96160;
}

.magic {
  background: #b8e3f0;
  width: 40px;
  height: 45px;
  position: absolute;
  border-radius: 0 0 3px 3px;
  transform: translate(0, -60px);
}
.magic::before {
  background: #af9218;
  bottom: -5px;
  left: 20%;
  width: 60%;
  height: 5px;
}
.magic::after {
  background: #27af61;
  border-radius: 0 0 3px 3px;
  bottom: 3px;
  left: 3px;
  width: 34px;
  height: 70%;
  animation: upDown 9000ms linear infinite normal;
}

.screen {
  width: 60px;
  height: 50px;
  background-color: #415060;
  position: absolute;
  border-radius: 5px;
  border: 3px solid #fbf7e4;
  transform: translate(15px, 60px);
  overflow: hidden;
}
.screen::before, .screen::after {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  box-shadow: inset 0 0 0 1px rgba(76, 215, 135, 0.2);
  background-color: rgba(76, 215, 135, 0.1);
  transform: translate(-100px, 0px);
  animation: moveRightPseudo 650ms linear infinite normal;
}

.band {
  position: absolute;
  width: 350px;
  height: 15px;
  background: #364451;
  border-radius: 8px;
  transform: translate(50px, 210px);
}
.band::before {
  background-image: radial-gradient(#4b5d6f 40%, rgba(0, 0, 0, 0) 41%);
  background-size: 15px 15px;
  background-position: 0px 0px;
  width: 90%;
  height: 15px;
  top: 0px;
  right: 5px;
  z-index: 2;
  animation: band 2150ms linear infinite normal;
}
.band::after {
  background: #4b5d6f;
  width: 79%;
  height: 75px;
  top: 15px;
  left: 57px;
  transform: skew(-15deg);
}

.factory-ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 420px;
  height: 140px;
  overflow: hidden;
  transform: translate(50px, 160px);
}
.factory-ul:after {
  background: #415060;
  border-radius: 50%;
  width: 60px;
  height: 5px;
  bottom: 0px;
  right: 20px;
  z-index: 0;
}

.factory-li {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #cf7473;
  transform: translate(0px, 10px);
  transform-origin: center bottom;
  animation-name: moveRight;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
.factory-li::after {
  dsplay: block;
  width: 25px;
  height: 7px;
  background-color: #c34e4d;
  top: 5px;
  left: 5px;
}

.factory-li:nth-child(1) {
  animation-delay: 0ms;
}

.factory-li:nth-child(2) {
  animation-delay: 600ms;
}

.factory-li:nth-child(3) {
  animation-delay: 1200ms;
}

.factory-li:nth-child(4) {
  animation-delay: 1800ms;
}

.factory-li:nth-child(5) {
  animation-delay: 2400ms;
}

.ps, .factory::before, .factory::after, .magic::before, .magic::after, .screen::before, .screen::after, .band::before, .band::after, ul:after, li::after {
  content: '';
  position: absolute;
}

@keyframes moveRight {
  0% {
    transform: translate(0px, 10px);
  }
  80% {
    transform: translate(325px, 10px);
  }
  90% {
    transform: translate(330px, 13px) rotateZ(90deg);
  }
  100% {
    transform: translate(340px, 110px) rotateZ(135deg);
  }
}
@keyframes moveRightPseudo {
  0% {
    transform: translate(-50px, 6px);
  }
  100% {
    transform: translate(60px, 6px);
  }
}
@keyframes upDown {
  0% {
    height: 70%;
  }
  70% {
    height: 5%;
  }
  100% {
    height: 70%;
  }
}
@keyframes band {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 100% 0px;
  }
}


    </style>
{% endblock %}

{% block scripts %}

    <!-- define a script -->

    <script type="text/javascript">
    function doIncrement() {
  w = parseInt(document.getElementById('progressBar').style.width);
  document.getElementById('progressBar').style.width= (w + 5) +'%';
  console.log("tick");
  return parseInt(document.getElementById('progressBar').style.width);
}



var w
$('.btn').attr('disabled','disabled');


var t=setInterval(doIncrement,100);

function stopTimer(){
clearInterval(t);
$('#factory').removeClass('hide');
setTimeout(partnerChoice,10000);

}


setTimeout(stopTimer,2900);
$('body div.well h4').parent().addClass('hide');

function partnerChoice(){
$('.stage').addClass('hide');
$('.btn').removeAttr('disabled');
$("#status").text("Ready, please click next to find out your partner's decision");
}

$( document ).ready(function() {

$('body div.well h4').parent().addClass('hide');
});

    </script>

    <!-- or reference a static file -->

{% endblock %}