{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Economic Decision Making
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
{{ dbg }}
<style>body{
    font-size: medium;
    }</style>
<div class="container">
    <div class="row">
        <div class="col-md-10">

            <div class="well">

                {% formfield player.age with label="What is your age?" %}
                {% formfield player.gender with label="What is your gender?" %}
                {% formfield player.education with label="What is the highest level of education you have completed?" %}
                {% formfield player.income with label="What is your yearly household income?" %}
                {% formfield player.states with label="Which state do you consider your primary residence?" %}
                {% formfield player.language with label="What is your primary language?" %}

                </div>
            <hr>
        </div>
    </div>

</div>
{% next_button %}



<script>$('body div.well h4').parent().addClass('hide');</script>


{% endblock %}


{% block scripts %}
<script>
$('body div.well h4').parent().addClass('hide');
$( document ).ready(function() {

$('body div.well h4').parent().addClass('hide');
});

</script>
{% endblock %}