{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Economic Decision Making
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
{{ dbg }}
<style>body{
    font-size: medium;
    }</style>
<div class="container">
    <div class="row">
        <div class="col-md-10">

            <div class="well">
                
                {% if keep_or_invest == 'Keep' %}
                    {% formfield player.why_choice with label="Why did you choose to keep the sum?" %}
                {% else%}
                    {% formfield player.why_choice with label="Why did you choose to invest the sum?" %}
                
                {% endif %}

                {% if should_deduct == 1 %}
                {% formfield player.why_deduct with label="Why do you think your partner chose to deduct your share?" %}
                {% else %}
                {% formfield player.why_deduct with label="Why do you think your partner chose not to deduct your share?" %}

                {% endif %}

                {% formfield player.wanted_partner with label="In retrospect, would you have preferred to be assigned to the role of \"partner\"?" %}


                {% if keep_or_invest == 'Keep' %}
                    {% formfield player.wanted_to_change_invest_or_keep with label="In retrospect, had you been given the opportunity, would you have decided differently regarding the investment option and chose to invest the sum?" %}
                {% else%}
                    {% formfield player.wanted_to_change_invest_or_keep with label="In retrospect, had you been given the opportunity, would you have decided differently regarding the investment option and kept the sum?" %}


                {% endif %}

                {% formfield player.satisfaction with label="How satisfied are you from the game?" %}
                
                {% formfield player.user_comments with label="Do you have any questions or comments about the game?" %}
                

                
                <h1>Thank you for participating our study! </h1>
                </div>
            <hr>
        </div>
    </div>

</div>
{% next_button %}



<script>$('body div.well h4').parent().addClass('hide');</script>


{% endblock %}


{% block scripts %}
<script>
$('body div.well h4').parent().addClass('hide');
$( document ).ready(function() {

$('body div.well h4').parent().addClass('hide');
});

</script>
{% endblock %}