{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Economic Decision Making
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
{{ dbg }}

<style>body{
    font-size: medium;
    }</style>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <hr>
            <div class="well">
                <ul>
                    <li>{{ p1 }}
                    </li>
                    <li>{{ p2_a }} <u>{{ under }}</u> {{p2_b}}

                    </li>
                </ul>



                </div>
            <hr>
        </div>
    </div>

</div>
<script>$('body div.well h4').parent().addClass('hide');</script>
{% next_button %}




{% endblock %}


{% block scripts %}
<script>
$('body div.well h4').parent().addClass('hide');
$( document ).ready(function() {

$('body div.well h4').parent().addClass('hide');
});

</script>
{% endblock %}