{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Economic Decision Making
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
{{ dbg }}
<style>body{
    font-size: medium;
    }</style>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <hr>
            <div class="well">
                <ul>

                    {% if assigned_group == 'B1' or  assigned_group == 'B2' %}

                    <li>{{ p1 }}
                    </li>
                    <li>{{ p2 }}
                    </li>
                    {% elif assigned_group == 'C1' or assigned_group == 'C2' %}
                    <li>
                        {{ p1 }}
                    </li>


                    {% endif %}
                </ul>



                </div>
            <hr>
        </div>
    </div>

</div>

{% next_button %}


<script>$('body div.well h4').parent().addClass('hide');</script>

{% endblock %}


{% block scripts %}
<script>
$('body div.well h4').parent().addClass('hide');
$( document ).ready(function() {

$('body div.well h4').parent().addClass('hide');
});

</script>
{% endblock %}