{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Economic Decision Making
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

<style>


    * {
    box-sizing: border-box;
}

body{
    font-size: medium;
    }

#progress {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;
}

#progress li {
    display: table-cell; font-size: 13px;
    vertical-align: middle;
    float: left;
    padding: 10px 0px 10px 40px;
    background: #333;
    color: #fff;
    position: relative;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 18%;
    height: 100px;
    margin: 0 1px;
}

#progress li:before {
    content: '';
    border-left: 50px solid #fff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 0;

}
#progress li:after {
    content: '';
    border-left: 50px solid #333;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

#progress li.active {
    background: #B1AEAE;
}

#progress li.active:after {
    border-left-color: #B1AEAE;
}
</style>
{{ dbg }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
 {% if assigned_group == 'B1' %}

            <ul id="progress">
                <li class="active" style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li style="display: table-cell; font-size: 13px;">Decision is relayed to partner</li>
                <li style="display: table-cell; font-size: 13px;">Partner decides whether to deduct investor's share</li>
                <li style="display: table-cell; font-size: 13px;">If investment option is chosen a raffle is conducted and results are shown</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>

            {% elif assigned_group == 'B2' %}
            <ul id="progress">
                <li class="active" style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li style="display: table-cell; font-size: 13px;">Decision is relayed to partner</li>
                <li style="display: table-cell; font-size: 13px;">Partner decides whether to deduct investor's share</li>
                <li style="font-size: 15px;width: 300px;">A raffle is conducted and results are shown. The results of the raffle affect payoff only if investment option is chosen.</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>
            {% elif assigned_group == 'C1' %}
            <ul id="progress">
                <li class="active" style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li style="display: table-cell; font-size: 13px;">If investment option is chosen – a raffle is conducted and results are shown</li>
                <li style="display: table-cell; font-size: 13px;">Your decision to invest/keep and the results are relayed to partner. </li>
                <li>Partner decides whether to deduct investor's share</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>
            {% elif assigned_group == 'C2' %}
            <ul id="progress">
                <li class="active" style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li style="font-size: 15px; width: 300px;">A raffle is conducted and results are shown. The results of the raffle affect payoff only if investment option is chosen.</li>
                <li style="display: table-cell; font-size: 13px;">Your decision to invest/keep and the results are relayed to partner. </li>
                <li style="display: table-cell; font-size: 13px;">Partner decides whether to deduct investor's share</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>
            {% endif %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <hr>
            <div class="well">
                <ul>
                    <li>{{ p1 }}
                    <ol>
                        <li>
                           {{ p2_1 }} <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>{{ p2_2 }}
                        </li>
                        <li>
                          {{ p3_1 }} <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>{{ p3_2 }}
                        </li>
                    </ol>
                    </li>

                </ul>

            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
        <hr>

            {% formfield player.keep_or_invest with label="Please choose whether to keep or invest." %}
<input type="hidden" name="time_spent" id="id_time_spent" value="">
    </div>
    </div>
</div>
<br>

{% next_button %}

<div class="container">
<div class="row">
        <div class="col-md-12">

</div>
    </div>
    </div>
<script>$('body div.well h4').parent().addClass('hide');</script>


{% endblock %}

{% block styles %}
<style type="text/css">
        #card-one {
            height: 170px;
            background-color: #9AAFF9;
            cursor: pointer;
        }
        #card-two {
            height: 170px;
            background-color: #9AAFF9;
            cursor: pointer;
        }
        .parent{
            display: flex;
  justify-content: center;
  align-items: center;
        }
    </style>
{% endblock %}

{% block scripts %}

    <!-- define a script -->

    <script type="text/javascript">
    $('body div.well h4').parent().addClass('hide');
    //$('.btn').attr('disabled','disabled');
    var time=0;
    function incTime(){
    time = time + 0.25;
    $("#id_time_spent").val(time);
    }
    $( document ).ready(function() {
var t=setInterval(incTime,250);

$('body div.well h4').parent().addClass('hide');
});



    </script>

    <!-- or reference a static file -->

{% endblock %}
