{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Economic Decision Making
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
<style>


    * {
    box-sizing: border-box;
}

body{
    font-size: medium;
    }

#progress {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;
}

#progress li {
    display: table-cell; font-size: 13px;
    vertical-align: middle;
    float: left;
    padding: 10px 0px 10px 40px;
    background: #333;
    color: #fff;
    position: relative;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 18%;
    height: 100px;
    margin: 0 1px;
}

#progress li:before {
    content: '';
    border-left: 50px solid #fff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 0;

}
#progress li:after {
    content: '';
    border-left: 50px solid #333;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

#progress li.active {
    background: #B1AEAE;
}

#progress li.active:after {
    border-left-color: #B1AEAE;
}
</style>

{{ dbg }}
<div class="container">
    <div class="row">
        <div class="col-md-12">

 {% if assigned_group == 'B1' %}
<ul id="progress">
                <li style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li style="display: table-cell; font-size: 13px;">Decision is relayed to partner</li>
                <li class="active" style="display: table-cell; font-size: 13px;">Partner decides whether to deduct investor's share</li>
                <li style="display: table-cell; font-size: 13px;">If investment option is chosen a raffle is conducted and results are shown</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>

            {% elif assigned_group == 'B2' %}
            <ul id="progress">
                <li style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li style="display: table-cell; font-size: 13px;">Decision is relayed to partner</li>
                <li class="active" style="display: table-cell; font-size: 13px;">Partner decides whether to deduct investor's share</li>
                <li style="font-size: 15px;width: 300px;">A raffle is conducted and results are shown. The results of the raffle affect payoff only if investment option is chosen.</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>
            {% elif assigned_group == 'C1' %}
            <ul id="progress">
                <li style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li style="display: table-cell; font-size: 13px;">If investment option is chosen – a raffle is conducted and results are shown</li>
                <li style="display: table-cell; font-size: 13px;">Your decision to invest/keep and the results are relayed to partner. </li>
                <li class="active">Partner decides whether to deduct investor's share</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>
            {% elif assigned_group == 'C2' %}
            <ul id="progress">
                <li style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li style="font-size: 15px; width: 300px;">A raffle is conducted and results are shown. The results of the raffle affect payoff only if investment option is chosen.</li>
                <li style="display: table-cell; font-size: 13px;">Your decision to invest/keep and the results are relayed to partner. </li>
                <li class="active" style="display: table-cell; font-size: 13px;">Partner decides whether to deduct investor's share</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>
            {% endif %}
            <br>
            <br>
            <br>
            <br>
            <br>
            br>


            <hr>
            <div class="well">

            {{ p1 }}
                </div>
            <hr>
        </div>
    </div>

</div>

{% next_button %}

<div class="container">
    <div class="row">
        <div class="col-md-12">



        </div>
    </div>
</div>

<script>$('body div.well h4').parent().addClass('hide');</script>


{% endblock %}


{% block scripts %}
<script>
$('body div.well h4').parent().addClass('hide');
$( document ).ready(function() {

$('body div.well h4').parent().addClass('hide');
});

</script>
{% endblock %}