{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Economic Decision Making
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
<style>body{
    font-size: medium;
    }</style>
<div class="container">
    <div class="row">
        <div class="col-md-10">

            <hr>
            <div class="well">
            How are your decision making capabilities? Take your go at an exciting economic decision making experiment and earn according to your performance.
<br>
                Please take into account that this experiment MUST be conducted on computer and NOT on a mobile phone/tablet (not supported).


                </div>
            <hr>
        </div>
    </div>

</div>


<script>$('body div.well h4').parent().addClass('hide');</script>



{% endblock %}


{% block scripts %}
<script>
$('body div.well h4').parent().addClass('hide');
$( document ).ready(function() {

$('body div.well h4').parent().addClass('hide');
});

</script>
{% endblock %}