{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Economic Decision Making
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
<style>


    * {
    box-sizing: border-box;
}

body{
    font-size: medium;
    }

#progress {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;
}

#progress li {
    display: table-cell; font-size: 13px;
    vertical-align: middle;
    float: left;
    padding: 10px 0px 10px 40px;
    background: #333;
    color: #fff;
    position: relative;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 18%;
    height: 100px;
    margin: 0 1px;
}

#progress li:before {
    content: '';
    border-left: 50px solid #fff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 0;

}
#progress li:after {
    content: '';
    border-left: 50px solid #333;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

#progress li.active {
    background: #B1AEAE;
}

#progress li.active:after {
    border-left-color: #B1AEAE;
}
</style>

{{ dbg }}
<div class="container">
    <div class="row">
        <div class="col-md-12">

             {% if assigned_group == 'B1' %}
<ul id="progress">
                <li style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li style="display: table-cell; font-size: 13px;">Decision is relayed to partner</li>
                <li style="display: table-cell; font-size: 13px;">Partner decides whether to deduct investor's share</li>
                <li class="active" style="display: table-cell; font-size: 13px;">If investment option is chosen a raffle is conducted and results are shown</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>

            {% elif assigned_group == 'B2' %}
            <ul id="progress">
                <li style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li style="display: table-cell; font-size: 13px;">Decision is relayed to partner</li>
                <li style="display: table-cell; font-size: 13px;">Partner decides whether to deduct investor's share</li>
                <li class="active" style="font-size: 15px;width: 300px;">A raffle is conducted and results are shown. The results of the raffle affect payoff only if investment option is chosen.</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>
            {% elif assigned_group == 'C1' %}
            <ul id="progress">
                <li style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li class="active" style="display: table-cell; font-size: 13px;">If investment option is chosen – a raffle is conducted and results are shown</li>
                <li style="display: table-cell; font-size: 13px;">Your decision to invest/keep and the results are relayed to partner. </li>
                <li>Partner decides whether to deduct investor's share</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>
            {% elif assigned_group == 'C2' %}
            <ul id="progress">
                <li style="display: table-cell; font-size: 13px;">Investor keep or invest $5</li>
                <li class="active" style="font-size: 15px; width: 300px;">A raffle is conducted and results are shown. The results of the raffle affect payoff only if investment option is chosen. </li>
                <li style="display: table-cell; font-size: 13px;">Your decision to invest/keep and the results are relayed to partner. </li>
                <li style="display: table-cell; font-size: 13px;">Partner decides whether to deduct investor's share</li>
                <li style="display: table-cell; font-size: 13px;">Final payoff is presented</li>
            </ul>

{% endif %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>



            <div class="well">
                <ul>
                    <li>{{ p1 }}

                    </li>

                </ul>

            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <hr>
        <div class="s2win-wrapper">
        <form class="iform hide" action="#" method="get">
            <label hide="hide" for="joiner">Please click on 'SPIN' to start the raffle</label>
            <input class="hide" id="joiner" maxlength="14" name="joiner" placeholder="Please Enter your name" />
            <a href="#" class="add hide" >Add</a>
        </form>

        <div class="wheel-wrap">
            <canvas class="spin2win" width="440" height="440"></canvas>
            <div class="spin-start spin-trigger">SPIN</div>
        </div>
        <div id="win-lose-leg">WIN: $8<br>
                                LOSE: $2</div>
        <p class="winner">And the result is: <span id="id_raf_result"></span>&nbsp;</p>
        <ul style="display:none;" class="participants">
        </ul>
    <input type="hidden" name="raffle_result" id="id_raffle_result" value="">
</div>


    </div>
        Please write here the result of the raffle:
        <br>
        <input type="text" name="user_written_result" id="id_user_written_result">


    </div>
</div>
<br>
{% next_button %}

<div class="container">
    <div class="row">
        <div class="col-md-12">


        </div>
    </div>
</div>

<script>$('body div.well h4').parent().addClass('hide');</script>



{% endblock %}

{% block styles %}
<style type="text/css">

.s2win-wrapper {
    margin: 0 auto;
    width: 440px;
}

form {
    margin-bottom: 40px;
}

.wheel-wrap {
    position: relative;
    width: 440px;
    height: 440px;
    overflow: hidden;
}

canvas.spin2win {
    width: 440px;
    height: 440px;
}

.spin-start {
    position: absolute;
    top: 50%;
    margin-top: -43px;
    left: 50%;
    margin-left: -43px;
    width: 86px;
    height: 86px;
    line-height: 86px;
    background: white;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    text-align: center;
    color: #4d4d4d;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    cursor: pointer;
}

@-webkit-keyframes spinBtn {
    from {
    transform: rotate(0deg) skew(0deg);
    -webkit-transform: rotate(0deg) skew(0deg);
    -moz-transform: rotate(0deg) skew(0deg);
    }
    to {
    transform: rotate(1080deg) skew(0deg);
    -webkit-transform: rotate(1080deg) skew(0deg);
    -moz-transform: rotate(1080deg) skew(0deg);
    }
}
.spin-btn {
    animation: spinBtn 2.4s 1 cubic-bezier(.28,1,0,.98);
    -moz-animation: spinBtn 2.4s 1 cubic-bezier(.28,1,0,.98);
    -webkit-animation: spinBtn 2.4s 1 cubic-bezier(.28,1,0,.98);
}

.winner span {
    color: red;
}


    </style>
{% endblock %}

{% block scripts %}

    <!-- define a script -->

    <script type="text/javascript">
    //$('.btn').attr('disabled','disabled');
    $('body div.well h4').parent().addClass('hide');

 (function($){
    $.fn.spinwheel = function(options, callback){

        var params = $.extend({},$.fn.spinwheel.default_options, options), $that = $(this), ctx = null,
        startAngle = 0, arc = Math.PI / 4, spinTimeout = null, spinArcStart = 10, spinTime = 0, spinTimeTotal = 0,
        spinAngleStart = 0, pplLength = 8, pplArray = params.pplArray;

        var colors=["#24aef0", "#1d75bd", "#662e93", "#92278f", "#ee1c25", "#f25a29", "#f7941d", "#fcb040", "#24aef0", "#1d75bd", "#662e93", "#92278f", "#ee1c25", "#f25a29", "#f7941d", "#fcb040", "#24aef0", "#1d75bd", "#662e93", "#92278f", "#ee1c25", "#f25a29", "#f7941d", "#fcb040", "#24aef0", "#1d75bd", "#662e93", "#92278f", "#ee1c25", "#f25a29", "#f7941d", "#fcb040", "#24aef0", "#1d75bd", "#662e93", "#92278f", "#ee1c25", "#f25a29", "#f7941d", "#fcb040", "#24aef0", "#1d75bd", "#662e93", "#92278f", "#ee1c25", "#f25a29", "#f7941d", "#fcb040"];

        if($.isFunction(options)){
            callback = options;
            options = {};
        }

        var methods = {
            init: function() {
                methods.getContext();
                methods.setup();
                drawWheel();
            },
            setup: function() {
                $(params.spinTrigger).one('click touchend', function(e){
                    e.preventDefault();
                    methods.spin();
                });

                $(params.addPplTrigger).bind('click', function(e){
                    e.preventDefault();
                    var item = $('<li />').append($(params.joiner).val());
                    $(params.paricipants).append(item);
                    methods.updatePanel();
                });
            },
            getContext: function() {
                if(ctx !== null)
                    return ctx;

                var canvas = $that[0];
                ctx = canvas.getContext("2d");

                // retina conversion
                if(window.devicePixelRatio == 2) {
                    canvas.setAttribute('width', 880);
                    canvas.setAttribute('height', 880);
                    ctx.scale(2, 2);
                }
            },
            spin: function() {


                spinAngleStart = Math.random() * 10 + 10;
                spinTime = 0;
                spinTimeTotal = Math.random() * 3 + 2 * 1000;

                rotateWheel();

                //wheelSound.play();

                // winner calculating msg...
                $(params.winnerDiv).html('spinning, please wait...')
            },
            updatePanel: function() {
                var $ppl = $(params.paricipants).children();
                pplArray = [];
                $ppl.each(function(key, value){
                    pplArray.push(value.innerHTML);
                });
                arc = 2 * Math.PI / $ppl.length;
                pplLength = $ppl.length;
                drawWheel();
            }
        }

       var rotateWheel = function rotateWheel() {
            spinTime += 5.5;
            if(spinTime >= spinTimeTotal) {
                stopRotateWheel();
                return;
            }

            var spinAngle = spinAngleStart - easeOut(spinTime, 0, spinAngleStart, spinTimeTotal);
            startAngle += (spinAngle * Math.PI / 180);
            drawWheel();
            spinTimeout = setTimeout(rotateWheel, 30);
        }

        function stopRotateWheel () {
            clearTimeout(spinTimeout);
            var degrees = startAngle * 180 / Math.PI + 90;
            var arcd = arc * 180 / Math.PI;
            var index = Math.floor((360 - degrees % 360) / arcd);
            ctx.save();
            var text = pplArray[index];

            // winner output
            //alert(text);
            //alert(params.winnerDiv);
            if(text=="Win"){
                //id_raf_result
                $('#id_raf_result').css('color','green');
            }
            
            $('#id_raffle_result').val(text);
            $(params.winnerDiv).text(text);

            ctx.restore();
            $('.btn').removeAttr('disabled');
            $('.btn').removeAttr('onclick');
            $('.btn').attr('onclick', '$("#form").submit();')
            //resultSound.play();
        }





        function drawArrow() {
            // layer1
            ctx.beginPath();
            ctx.moveTo(202.5 + 8.8, 23.0);
            ctx.lineTo(202.5 + 17.4, 38.0);
            ctx.lineTo(202.5 + 17.4, 0.0);
            ctx.lineTo(202.5 + 0.0, 8.0);
            ctx.lineTo(202.5 + 8.8, 23.0);
            ctx.closePath();
            ctx.fillStyle = "rgb(152, 152, 152)";
            ctx.fill();

            // layer2
            ctx.beginPath();
            ctx.moveTo(202.5 + 17.4, 0.0);
            ctx.lineTo(202.5 + 17.4, 38.0);
            ctx.lineTo(202.5 + 26.4, 23.0);
            ctx.lineTo(202.5+ 35.0, 8.0);
            ctx.lineTo(202.5 + 17.4, 0.0);
            ctx.closePath();
            ctx.fillStyle = "rgb(102, 102, 103)";
            ctx.fill();
        }

        function drawOutterBorder() {
            ctx.fillStyle = '#e6e6e6';
            ctx.beginPath();
            ctx.arc(220,220,215,0,Math.PI*2, false); // outer (filled)
            ctx.fill();
        }

        function drawInnerBorder() {
            ctx.fillStyle = 'rgba(0,0,0,0.2)';
            ctx.beginPath();
            ctx.arc(220,220,210,0,Math.PI*2, false); // outer (filled)
            ctx.arc(220,220,190,0,Math.PI*2, true); // outer (unfills it)
            ctx.fill();
        }

        function drawWheel() {
            ctx.strokeStyle = params.wheelBorderColor;
            ctx.lineWidth = params.wheelBorderWidth;
            ctx.font = params.wheelTextFont;
            ctx.clearRect(0,0,440,440);

            var text = null, i = 0, totalJoiner = pplLength;

            drawOutterBorder();

            for(i = 0; i < totalJoiner; i++) {
                text = pplArray[i];
                var angle = startAngle + i * arc;
                ctx.fillStyle = colors[i];

                ctx.beginPath();
                // ** arc(centerX, centerY, radius, startingAngle, endingAngle, antiClockwise);
                ctx.arc(220, 220, params.outterRadius, angle, angle + arc, false);
                ctx.arc(220, 220, params.innerRadius, angle + arc, angle, true);
                ctx.fill();

                ctx.save();
                ctx.clip();
                ctx.fillStyle = params.wheelTextColor;
                ctx.translate(220 + Math.cos(angle + arc / 2) * params.textRadius, 220 + Math.sin(angle + arc / 2) * params.textRadius);
                ctx.rotate(angle + arc / 2 + Math.PI / 90);

                ctx.fillText(text.toUpperCase(), -ctx.measureText(text).width / 1.5, 6);

                ctx.restore();
                //ctx.closePath();
            }
            drawInnerBorder();
            drawArrow();
        }

        function easeOut(t, b, c, d) {
            var ts = (t/=d)*t;
            var tc = ts*t;
            return b+c*(tc + -3*ts + 3*t);
        }

        methods.init.apply(this,[]);
    }

    /*  ---  please look at the index.html source in order to understand what they do ---
     *  outterRadius : the big circle border
     *  innerRadius  : the inner circle border
     *  textRadius   : How far the the text on the wheel locate from the center point
     *  spinTrigger  : the element that trigger the spin action
     *  wheelTextFont : what is the style of the text on the wheel
     *  wheelTextColor : what is the color of the tet on the wheel
     *  participants : what is the container for participants for the wheel
     *  joiner : usually a form input where user can put in their name
     *  addPplTrigger : what element will trigger the add participant
     *  winDiv : the element you want to display the winner
     */
    $.fn.spinwheel.default_options = {
        outterRadius:210,
        innerRadius:50,
        textRadius: 120,
        spinTrigger: '.spin-trigger',
        wheelTextFont : '13px sans-serif',
        wheelTextColor: 'RGBA(255,255,255,0.4)',
        paricipants:'.participants',
        addPplTrigger:'.add',
        joiner:'#joiner',
        winnerDiv:'#id_raf_result'
    }
})(jQuery);

$(function(){
   $('.spin2win').spinwheel({
       pplArray : ["•", "•", "•", "•","•", "•", "•", "•"]
   });

   $('.spin-start').on('click touchend', function (){
        $(this).addClass('spin-btn');
   })
});


$( document ).ready(function() {
    //$("#id_raffle_result").prop("readonly", true);
    $('.btn').attr('disabled','disabled');
    $("#joiner").attr("value","Lose");
    $('.add').click();
    $("#joiner").attr("value","Win");
    $('.add').click();
$('body div.well h4').parent().addClass('hide');
});



    </script>

    <!-- or reference a static file -->

{% endblock %}