{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Economic Decision Making
{% endblock %}


{% block content %}
<style>


    * {
    box-sizing: border-box;
}



#progress {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;
}

#progress li {
    display: table-cell; font-size: 13px;
    vertical-align: middle;
    float: left;
    padding: 10px 0px 10px 40px;
    background: #333;
    color: #fff;
    position: relative;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 18%;
    height: 100px;
    margin: 0 1px;
}

#progress li:before {
    content: '';
    border-left: 50px solid #fff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

#progress li:after {
    content: '';
    border-left: 50px solid #333;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

    body{
    font-size: medium;
    }

#progress li.active {
    background: #B1AEAE;
}

#progress li.active:after {
    border-left-color: #B1AEAE;
}
</style>

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/


Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/
-->
{{ dbg }}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>Welcome!</h1>
            <div class="well" style="margin-top: 110px;">

Thank you for taking part in our study.

In the next minutes you will be participating in a decision making task. Before doing so, we would be grateful if you could answer some questions about yourself. Your answers will be kept completely anonymous, and the collected information will be used only at the aggregate level and for research purposes only.

<br>
                Please click on the "Next" button to indicate your agreement to participate in this study and move on to the next screen

                </div>
            <hr>
        </div>
    </div>

</div>
{% next_button %}

<script>$('body div.well h4').parent().addClass('hide');</script>
{% endblock %}


{% block scripts %}
<script>
$('body div.well h4').parent().addClass('hide');
$( document ).ready(function() {

$('body div.well h4').parent().addClass('hide');
});

</script>
{% endblock %}

